Repository Quickfra/quickfra, changes with the owners that .github/CODEOWNERS names for each.
All owners: @quickfra/platform-leads, @quickfra/docs, @quickfra/backend, @quickfra/devops, @quickfra/frontend, @quickfra/secops, @quickfra/qa, @quickfra/release-managers, @quickfra/sre

feat: enhance monorepo infrastructure with CLI tooling and testing setup
  .gitignore
  .prettierignore
  TEAMS.md
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.workspace.ts
Owners: @quickfra/platform-leads, @quickfra/docs, @quickfra/devops, @quickfra/release-managers, @quickfra/backend, @quickfra/frontend

docs: simplify TEAMS.md structure and remove implementation guidance
  TEAMS.md
Owners: @quickfra/docs

docs(readme): update CLI usage
  README.md
  packages/cli/bin/quickfra.js
  packages/cli/package.json
  packages/cli/src/commands/up.ts
Owners: @quickfra/docs, @quickfra/platform-leads, @quickfra/backend

delete(cli): deleted cli package
  packages/cli/bin/quickfra.js
  packages/cli/package.json
  packages/cli/src/commands/up.ts
Owners: @quickfra/backend, @quickfra/platform-leads

delete(docs): plan.md
  plan.md
Owners: @quickfra/docs

feat: add cli package scaffold to complete monorepo structure
  packages/cli/package.json
Owners: @quickfra/backend, @quickfra/platform-leads

chore: cleanup feature branches and establish cli development branch
  packages/cli/bin/quickfra
  packages/cli/bin/quickfra.js
  packages/cli/src/config/schemas.ts
Owners: @quickfra/backend, @quickfra/platform-leads

feat(provision-core): implement core provisioning library with state machine
  packages/cli/bin/quickfra
  packages/cli/bin/quickfra.js
  packages/cli/package.json
  packages/cli/src/config/schemas.ts
  packages/provision-core/README.md
  packages/provision-core/jest.config.js
  packages/provision-core/package.json
  packages/provision-core/src/__tests__/state-machine.test.ts
  packages/provision-core/src/__tests__/types.test.ts
  packages/provision-core/src/index.ts
  packages/provision-core/src/state-machine.ts
  packages/provision-core/src/types.ts
  packages/provision-core/tsconfig.json
  pnpm-lock.yaml
Owners: @quickfra/backend, @quickfra/platform-leads, @quickfra/docs, @quickfra/qa, @quickfra/release-managers, @quickfra/frontend, @quickfra/devops

feat(provision-core): implement complete provisioning library with state machine
  packages/provision-core/src/types.ts
Owners: @quickfra/platform-leads

refactor: architect real Coolify-based provisioning model
  packages/provision-core/src/__tests__/state-machine.test.ts
  packages/provision-core/src/__tests__/types.test.ts
  packages/provision-core/src/state-machine.ts
  packages/provision-core/src/types.ts
Owners: @quickfra/qa, @quickfra/platform-leads

ci(github-actions): fix Nx SHAs and CodeQL build
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @quickfra/devops, @quickfra/secops, @quickfra/platform-leads

delete: remove package templates and update README
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  README.md
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/tsconfig.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/utils/package.json
  packages/utils/src/dateUtils.ts
  packages/utils/src/index.ts
  packages/utils/src/stringUtils.ts
Owners: @quickfra/devops, @quickfra/secops, @quickfra/platform-leads, @quickfra/docs, @quickfra/backend, @quickfra/release-managers, @quickfra/frontend

update(assets): upscale background image
  assets/bg.png
Owners: @quickfra/platform-leads

update(docs): remove vultr and linode from supported providers
  README.md
Owners: @quickfra/docs, @quickfra/platform-leads

feat(core): add domain-based service routing with custom subdomain support
  packages/core/src/coolify.ts
  packages/core/src/deployment.test.ts
  packages/core/src/deployment.ts
  packages/core/src/interfaces.ts
  packages/core/src/types.ts
Owners: @quickfra/platform-leads, @quickfra/backend

refactor(core): organize code structure with services and tests directories
  packages/core/src/__tests__/cloud.test.ts
  packages/core/src/__tests__/coolify.test.ts
  packages/core/src/__tests__/deployment.test.ts
  packages/core/src/index.ts
  packages/core/src/services/cloud.ts
  packages/core/src/services/coolify.ts
  packages/core/src/services/deployment.ts
Owners: @quickfra/platform-leads, @quickfra/backend

feat(core): add docker compose and admin subdomain support to coolify service
  packages/core/src/__tests__/coolify.test.ts
  packages/core/src/__tests__/deployment.test.ts
  packages/core/src/interfaces.ts
  packages/core/src/services/coolify.ts
  packages/core/src/services/deployment.ts
  packages/core/src/types.ts
Owners: @quickfra/platform-leads, @quickfra/backend

refactor(core): move docker compose configs to separate yml files
  packages/core/src/__tests__/coolify.test.ts
  packages/core/src/docker-compose/mail.yml
  packages/core/src/docker-compose/n8n.yml
  packages/core/src/docker-compose/postgres.yml
  packages/core/src/docker-compose/redis.yml
  packages/core/src/docker-compose/status.yml
  packages/core/src/docker-compose/webmail.yml
  packages/core/src/index.ts
  packages/core/src/services/deployment.ts
  packages/core/src/services/docker-compose.ts
  packages/core/src/types.ts
Owners: @quickfra/platform-leads, @quickfra/backend

feat(core): add dynamic domain templating for docker compose configs
  packages/core/src/__tests__/coolify.test.ts
  packages/core/src/__tests__/deployment.test.ts
  packages/core/src/docker-compose/mail.yml
  packages/core/src/docker-compose/n8n.yml
  packages/core/src/services/deployment.ts
  packages/core/src/services/docker-compose.ts
Owners: @quickfra/platform-leads, @quickfra/backend

feat(core): add Coolify bootstrap and addon framework
  biome.json
  package.json
  packages/addon-mock/__tests__/addon.test.ts
  packages/addon-mock/package.json
  packages/addon-mock/src/index.ts
  packages/addon-mock/tsconfig.json
  packages/addon-mock/tsup.config.ts
  packages/addon-mock/vitest.config.ts
  packages/coolify-bootstrap/package.json
  packages/coolify-bootstrap/src/index.ts
  packages/coolify-bootstrap/tsconfig.json
  packages/coolify-bootstrap/tsup.config.ts
  packages/coolify-bootstrap/vitest.config.ts
  packages/core/__tests__/bootstrap.test.ts
  packages/core/__tests__/logger.test.ts
  packages/core/demo.mjs
  packages/core/src/__tests__/cloud.test.ts
  packages/core/src/__tests__/coolify.test.ts
  packages/core/src/__tests__/deployment.test.ts
  packages/core/src/addon.ts
  packages/core/src/bootstrap.ts
  packages/core/src/docker-compose/mail.yml
  packages/core/src/docker-compose/n8n.yml
  packages/core/src/docker-compose/postgres.yml
  packages/core/src/docker-compose/redis.yml
  packages/core/src/docker-compose/status.yml
  packages/core/src/docker-compose/webmail.yml
  packages/core/src/index.ts
  packages/core/src/interfaces.ts
  packages/core/src/provider.ts
  packages/core/src/services/cloud.ts
  packages/core/src/services/coolify.ts
  packages/core/src/services/deployment.ts
  packages/core/src/services/docker-compose.ts
  packages/core/src/types.ts
  packages/core/src/utils/logger.ts
  packages/core/tsup.config.ts
  packages/core/vitest.config.ts
  pnpm-lock.yaml
Owners: @quickfra/backend, @quickfra/devops, @quickfra/release-managers, @quickfra/frontend, @quickfra/qa, @quickfra/platform-leads

update: cleanup and reset packages
  packages/addon-mock/__tests__/addon.test.ts
  packages/addon-mock/package.json
  packages/addon-mock/src/index.ts
  packages/addon-mock/tsconfig.json
  packages/addon-mock/tsup.config.ts
  packages/addon-mock/vitest.config.ts
  packages/coolify-bootstrap/package.json
  packages/coolify-bootstrap/src/index.ts
  packages/coolify-bootstrap/tsconfig.json
  packages/coolify-bootstrap/tsup.config.ts
  packages/coolify-bootstrap/vitest.config.ts
  packages/core/__tests__/bootstrap.test.ts
  packages/core/__tests__/logger.test.ts
  packages/core/demo.mjs
  packages/core/package.json
  packages/core/src/addon.ts
  packages/core/src/bootstrap.ts
  packages/core/src/index.ts
  packages/core/src/provider.ts
  packages/core/src/types.ts
  packages/core/src/utils/logger.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/core/vitest.config.ts
  tsconfig.json
Owners: @quickfra/qa, @quickfra/release-managers, @quickfra/backend, @quickfra/frontend, @quickfra/platform-leads, @quickfra/devops

.github/CODEOWNERS:

# Global owners - platform leads have final approval on all changes
* @quickfra/platform-leads

# Documentation
*.md @quickfra/docs
/docs/ @quickfra/docs
README.md @quickfra/docs @quickfra/platform-leads

# Configuration files
*.json @quickfra/backend @quickfra/devops
*.yml @quickfra/backend @quickfra/devops
*.yaml @quickfra/backend @quickfra/devops
*.toml @quickfra/backend @quickfra/devops

# Package management
package.json @quickfra/backend @quickfra/frontend
pnpm-lock.yaml @quickfra/backend @quickfra/frontend
pnpm-workspace.yaml @quickfra/backend @quickfra/platform-leads

# Nx configuration
nx.json @quickfra/platform-leads @quickfra/devops
project.json @quickfra/backend @quickfra/frontend @quickfra/devops

# GitHub configuration
/.github/ @quickfra/platform-leads @quickfra/secops
/.github/workflows/ @quickfra/devops @quickfra/secops @quickfra/platform-leads

# Frontend applications
/apps/web/ @quickfra/frontend
/apps/dashboard/ @quickfra/frontend
/packages/ui/ @quickfra/frontend

# Backend applications and APIs
/apps/api/ @quickfra/backend
/apps/orchestrator/ @quickfra/backend @quickfra/devops
/packages/config/ @quickfra/backend @quickfra/secops

# Infrastructure as Code
/infrastructure/ @quickfra/devops @quickfra/platform-leads
/terraform/ @quickfra/devops
/helm/ @quickfra/devops
/k8s/ @quickfra/devops
/charts/ @quickfra/devops

# Testing and QA
/tests/ @quickfra/qa
/e2e/ @quickfra/qa
/packages/testing/ @quickfra/qa
*.test.* @quickfra/qa
*.spec.* @quickfra/qa
cypress.config.* @quickfra/qa
jest.config.* @quickfra/qa

# Security sensitive files
/packages/auth/ @quickfra/secops @quickfra/backend
/packages/security/ @quickfra/secops
/.github/workflows/security.yml @quickfra/secops @quickfra/platform-leads
/.github/workflows/release.yml @quickfra/release-managers @quickfra/platform-leads
/docker/ @quickfra/devops @quickfra/secops

# Site Reliability and Monitoring
/monitoring/ @quickfra/sre
/observability/ @quickfra/sre
/runbooks/ @quickfra/sre
/alerts/ @quickfra/sre
/packages/monitoring/ @quickfra/sre

# Release management
CHANGELOG.md @quickfra/release-managers
/release/ @quickfra/release-managers
/scripts/release/ @quickfra/release-managers
package.json @quickfra/release-managers @quickfra/backend @quickfra/frontend

# Core packages that need extra review
/packages/core/ @quickfra/platform-leads @quickfra/backend
/packages/cli/ @quickfra/backend @quickfra/platform-leads
